.outline-button {
  background-color: transparent;
  border-radius: 20px;
  min-width: 150px;
  display: flex;
  align-items: center;
}
.outline-button a {
  height: 40px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4d4daa;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  color: #151515;
}

.outline-button a:hover {
  outline: none;
  background-color: #ededf6;
}
