.home {
  display: flex;
  flex-direction: column;
}

.home .row {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1150px) {
  .home .row .event-card {
    max-width: 30vw;
  }
}

@media (max-width: 900px) {
  .home .row .event-card {
    max-width: 48%;
  }
}

@media (max-width: 600px) {
  .home .row {
    justify-content: center;
  }
  .home .row .event-card {
    max-width: 80%;
  }
}
