.home {
  display: flex;
  flex-direction: column;
}

.home ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: center;
}

.home ul li {
  display: flex;
  justify-content: center;
}
