header {
  display: flex;
  box-sizing: border-box;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

header .menu {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

header .menu .mainMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .menu a {
  align-self: center;
  text-decoration: none;
  color: #151515;
  font-weight: 500;
  margin-left: 15px;
  font-family: initial;
}
header .menu a:hover {
  color: #4d4faa;
  opacity: 85%;
}

header .menu hr {
  margin: 0 20px;
  height: 35px;
  align-self: center;
}

header .menu .menu-profile {
  display: flex;
  width: 80px;
  height: 40px;
  background-color: #4d4faa;
  border-radius: 20px 10px 10px 20px;
  align-items: center;
}

header .menu .menu-profile .open p {
  color: blue;
}

header .menu .menu-profile img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 10px;
}

header .menu .menu-profile .icon {
  cursor: pointer;
}


@media (max-width: 576px) {
  header {
    padding: 10px;
  }
  header .menu {
    margin-right: 10px;
  }
}
