@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 350px;
  min-height: 420px;
  max-height: 420px;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 10px 0.5px rgb(224, 224, 224);
  margin-bottom: 15px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.event-card a {
  text-decoration: none;
}

.event-card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  min-height: 150px;
  object-fit: cover;
}
.event-card .container-price {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 10px;
}

.event-card .container-price .price {
  font-size: 14px;

  font-weight: 900;
  color: #363636;
}

.event-card .about {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
}
.event-card .about .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.event-card .about .data .day {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #464646;
}

.event-card .about .data .to {
  margin: 10px 0;
}

.event-card .about .data .month {
  color: #4d4faa;
  font-weight: bold;
  margin: 5px 0;
}

.event-card .about .details {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  flex: 1;
  min-width: 180px;
  max-width: 290px;
}

.event-card .about .details a:hover {
  opacity: 80%;
}

.event-card .about .details .title {
  margin: 5px 0;
  color: #363636;
}

.event-card .about .details .divDescrition {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-card .about .details .description {
  color: #464646;
  line-height: 20px;
  margin-bottom: 5px;
}

.event-card .about .details .accountable {
  padding-top: 5px;
  width: 100%;
  bottom: 0;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
