.default-button {
  background-color: transparent;
  border-radius: 20px;
  min-width: 150px;
  display: flex;
  align-items: center;
}
.default-button a {
  height: 40px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none !important;
  background-color: #4d4daa;
  color: white;
}

.default-button a:hover {
  outline: none;
  color: white;
  background-color: #5b5bb1;
}
